[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
requests = "*"
raven = "*"
python-dotenv = "*"
"beautifulsoup4" = "*"
amalgama-pq = {git = "https://github.com/andriyor/amalgama-pq.git"}
google-measurement-protocol = "*"

[dev-packages]

[requires]
python_version = "3.6"
