[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
requests = "*"
raven = "*"
"beautifulsoup4" = "*"
google-measurement-protocol = "*"
acrcloud-py = {editable = true,git = "https://github.com/andriyor/acrcloud-py.git"}
amalgama = "*"
